h1, h2 {
  color: white;
  font-family: Sketch;
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2.project {
  font-family: inherit;
}

.header {
  padding: 5px;
}

.navbar {
  box-shadow: 0px 5px 10px #d3d3d3!important;
  border-radius: 0!important;
}
