<div *ngIf='projects.length>1' class="form-group">
  <label for="projects">Select your project</label>
  <select (click)='onSelectedProject(selectedProject)' class="form-control" id="projects" [(ngModel)]="selectedProject">
    <option  *ngFor="let project of projects" [value]="project">{{project}}</option>
  </select>
</div>

  <form>
    <div class="form-group">
      <label for="newproject">Create a new project</label>
      <input required type="text" class="form-control" #newprojectName>
    </div>
    <button class="btn btn-success" (click)='onNewProjectCreated(newprojectName)'>Add a new Project</button>
    <button class="btn btn-danger" (click)='onDeleteProject(selectedProject)' *ngIf='projects.length>0'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete the current Project </button>
  </form>
